body{
  background-color: #fbcdcd;
  color: white;
  min-height: 100%;
}
h1 {
	color: #c93648;
	font-family: 'Just Another Hand', cursive;
	font-size: 100px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
}
span {
  color: #fff;
	font-family: 'Just Another Hand', cursive;
	font-style: italic;
	font-weight: 400;
	line-height: 48px;
	max-width: 640px;
	text-align: center;
}
p {
	color: #3c403f;
	font-family: 'Roboto', sans-serif;
	font-weight: 100px;
	margin: 0 auto 60px;
	font-size: 25px;
	text-align: center;
}

div.row > .col-lg-6:nth-child(1){
  padding-top: -50%;
}

.videoWrapperWrapper {
  width: 70%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

nav .container-fluid{
  background-color: #c93648;
}

.navbar-default{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    border-width: 0px;
}
nav > div > ul > li > a{
  background-color: #c93648;
  font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
}

nav > div > ul > li > ul > li > a{
  font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: bold;
	letter-spacing: 2px;
	text-align: center;
	background-color: white;
}

body div div div .row{
  margin: 25px 50px;
}

label {
  color: #3c403f;
}

td, th{
  color: #3c403f;
}


.navbar-default .navbar-brand {
  background-color: #c93648;
  color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0px;
	text-align: center;
	font-style: normal;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  background-color: #c93648;
  color: #fff;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.modal-title{
  margin-top: 10px;
}

.modal-content{
 background-color: #fbcdcd;
}
.modal-header {
    background-color: #c93648;
    text-align: center;
}
.modal-footer {
    background-color: #c93648;
}
select, input{
  color: black;
}

table.dataTable thead th{
  background-color: #c93648;
  color: white;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: none !important;
}

#madres_solteras_f2016 > div > .dataTables_paginate > span > a, #madres_solteras_f2 > div > .dataTables_paginate > span > a, #DataTables_Table_2_paginate > span > a, #DataTables_Table_3_paginate > span > a{
    color: #3c403f !important;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 3px;
}
#madres_solteras_f2016 > div > .dataTables_paginate > span > a:hover, #madres_solteras_f2 > div > .dataTables_paginate > span > a:hover, #DataTables_Table_2_paginate > span > a:hover, #DataTables_Table_3_paginate > span > a:hover{
  color: white !important;
  background-color: #c93648;
  border: none;
  background: #c93648;
}
#madres_solteras_f2016 > div > .dataTables_paginate > span > .current, #madres_solteras_f2 > div > .dataTables_paginate > span > .current, #DataTables_Table_2_paginate > span > .current, #DataTables_Table_3_paginate > span > .current{
  color: white !important;
  background-color: #c93648;
  border: none;
  background: #c93648;
}
#madres_solteras_f2016 > div > .dataTables_paginate > .paginate_button.next, #madres_solteras_f2 > div > .dataTables_paginate > .paginate_button.next, #DataTables_Table_2_next, #DataTables_Table_3_next{
  color: #3c403f !important;
  letter-spacing: 3px;
  font-weight: 900;
  font-family: 'Just Another Hand', cursive;
	text-align: center;
	text-transform: uppercase;
}
#madres_solteras_f2016 > div > .dataTables_paginate > .paginate_button.previous, #madres_solteras_f2 > div > .dataTables_paginate > .paginate_button.previous, #DataTables_Table_2_previous, #DataTables_Table_3_previous{
  color: #3c403f !important;
  letter-spacing: 3px;
  font-weight: 900;
  font-family: 'Just Another Hand', cursive;
	text-align: center;
	text-transform: uppercase;
}
#madres_solteras_f2016 > div > .dataTables_paginate > .paginate_button.next:hover, #madres_solteras_f2 > div > .dataTables_paginate > .paginate_button.next:hover,#DataTables_Table_2_next:hover, #DataTables_Table_3_next:hover{
  color: white !important;
  border: 0px;
  background: #c93648;
}
#madres_solteras_f2016 > div > .dataTables_paginate > .paginate_button.previous:hover, #madres_solteras_f2 > div > .dataTables_paginate > .paginate_button.previous:hover, #DataTables_Table_2_previous:hover, #DataTables_Table_3_previous:hover{
  color: white !important;
  border: 0px;
  background: #c93648;
}

#madres_solteras_f2016 > div > .dataTables_paginate > .paginate_button.previous.paginate_button.disabled:hover, #madres_solteras_f2 > div > .dataTables_paginate > .paginate_button.next.paginate_button.disabled:hover, #DataTables_Table_2_previous.paginate_button.disabled:hover, #DataTables_Table_3_previous.paginate_button.disabled:hover{
  background: none;
}

#madres_solteras_f2016 > div > .dataTables_paginate > .paginate_button.next.paginate_button.disabled:hover, #madres_solteras_f2 > div > .dataTables_paginate > .paginate_button.next.paginate_button.disabled:hover, #DataTables_Table_2_next.paginate_button.disabled:hover, #DataTables_Table_3_next.paginate_button.disabled:hover{
  background: none;
}

#madres_solteras_f2016 > div > .dataTables_paginate, #madres_solteras_f2 > div > .dataTables_paginate, #DataTables_Table_2_paginate, #DataTables_Table_3_paginate{
  margin-bottom: 40px;
}

#maindivnetwork1{
  margin-top:40px;
}

#legendnetwork1{
  width: 35%;
}

#graphnetwork1 > div.vis-network > canvas{
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

#maindivnetwork2{
  margin-top:40px;
}

#legendnetwork2{
  width: 35%;
}

#graphnetwork2 > div.vis-network > canvas{
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

.tab-pane.active > p{
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1;
}

.tab-pane.active > h1{
  font-size: 80px;
  margin-bottom: 10px;
}

.footer-distributed p{
	line-height: 20px;
}

div > div > div:nth-child(4)  span{
  line-height: 1;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	/*font-weight: 100px;
	font-size: 25px;
	text-align: center;*/
}

div > div > div:nth-child(4) h1{
  margin-bottom: 15px;
}

div > div > div:nth-child(4)  ul, div > div > div:nth-child(4) ol, div > div > div:nth-child(4) li{
	color: #3c403f;
	font-family: 'Roboto', sans-serif;
	font-weight: 100px;
	margin: 0 auto 60px;
  line-height: 1;
  margin-bottom: 10px;
  font-size: 18px;
}

div > div > div:nth-child(1)  h1{
  margin-bottom: 0;
}

div > div > div:nth-child(5)  h1{
  margin-top: 35px;
  margin-bottom: 25px;
}

div > div > div:nth-child(5)  p{
  line-height: 1;
  margin-bottom: 25px;
}

div > div > div:nth-child(6)  h1{
  margin-top: 35px;
  margin-bottom: 25px;
}

div > div > div:nth-child(6)  p{
  line-height: 1;
  font-family: 'Just Another Hand', cursive;
  margin-bottom: 25px;
  font-size: 45px;
	letter-spacing: 3px;
}

.shiny-flow-layout > div{
  width: 100% !important;
  text-align: center;
}

.shiny-flow-layout > div:nth-child(2){
  margin-bottom: 20px;
}

.shiny-input-panel{
  margin-bottom: 60px;
}

.selectize-control {
    margin-bottom: 42px;
}

#submit_button{
  color: #fff;
  background-color: #428bca;
}

#submit_button:hover{
  color: #fff;
  background-color: #428bca;
}

#satisfaction{
  text-align: center;
  color: #3c403f;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	margin: 60px auto 60px;
	font-size: 100px;
	text-align: center;
}

div[data-value="Acerca del estudio"]{
  text-align: center;
}

div[data-value="Acerca del estudio"] > a{
	font-family: 'Just Another Hand', cursive;
	font-size: 40px;
	font-weight: 100;
	letter-spacing: 2px;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
}


/* LO QUE SIGUE ES DE OTRO CSS QUE HABIA ENCONTRADO POR AHI */

.footer-distributed{
  z-index: 10;
  text-align: center;
	background-color: #c93648;
	box-sizing: border-box;
	width: 100%;
	font: bold 16px sans-serif;
	margin-top: 10px;
	position: fixed;
	bottom: 0
}

.footer-distributed .footer-links a{
  color: #fff;
  font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0;
	text-align: center;
}

.footer-distributed .footer-links a:hover{
	color:  white;
  border-color: white;
}

.footer-distributed p{
  color: #fff;
  text-align: right;
  font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: normal;
	letter-spacing: 0;
	margin-top: 25px;
	margin-bottom: 15px;
}

.logoWrapper{
  margin: auto;
  height: 100%;
}

.container-fluid > .row{
  height: 50px;
}

.footer-distributed .row{
  margin-right: 0;
}

.footer-distributed .row .col-sm-1{
  height: 50px;
  margin-top: 15px;
  margin-bottom: 10px;
}

img{
  height: 100%;
}